.sectionConfig {
  padding-top: 5vh;
}
.sectionConfig > p {
  font-size: clamp(2rem, 3vmax, 100rem);
  font-family: "YekanBakhFaNum";
  font-weight: 1000;
  text-align: right;
  padding-right: 10%;
}

.sectionConfig .mainContainer {
  background: #2d2d2b url(assets/cardsDust2.png) left top/60% no-repeat;
  display: flex;
  flex-direction: row;

  font-family: "LeagueGothic", "YekanBakhFaNum";
  text-transform: uppercase;
  color: white;

  margin: 3vw;
  padding: 10vmin;
}
.sectionConfig .buttonC {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 5vmin;
}
.sectionConfig .buttonC button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  font-size: clamp(2rem, 3vmax, 100rem);
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sectionConfig .linkC {
  width: 50%;
}
.sectionConfig .linkC #topSection {
  white-space: nowrap;
  font-size: clamp(1.5rem, 2vmax, 100rem);
  display: flex;
  padding: 1vh 3vh;
  line-height: 1;
}

.sectionConfig .linkC #topSection p:nth-child(1) {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sectionConfig .linkC #topSection p:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: -45vw;
  right: 200%;
  border-top: 1px #ececec solid;
  pointer-events: none;
}
.sectionConfig .linkC #topSection p:nth-child(1)::after {
  content: "";
  position: absolute;
  background: url(assets/IconCopy.png) right/contain no-repeat;

  top: 0%;
  bottom: 0%;
  left: -200%;
  right: 100%;
  pointer-events: none;
}
.sectionConfig .linkC #topSection p:nth-child(2) {
  position: relative;
  margin-left: 15vmin;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sectionConfig .linkC #topSection p:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: -14vmin;
  right: 140%;
  border-top: 1px #ececec solid;
  pointer-events: none;
}
.sectionConfig .linkC #topSection p:nth-child(2)::after {
  content: "";
  position: absolute;
  background: url(assets/Iconfetch.png) right/contain no-repeat;

  top: 0%;
  bottom: 0%;
  left: -200%;
  right: 105%;
  pointer-events: none;
}
.sectionConfig .linkC #bottomSection {
  height: calc(100% - 3vmin);
  background: white;
  color: black;
  position: relative;
  padding: 5vmin;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.sectionConfig .linkC #bottomSection a {
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 10; /* number of lines to show */
  line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.sectionConfig .linkC #bottomSection::before {
  content: "";
  position: absolute;
  border: 1px white solid;
  top: -0.5vmin;
  bottom: -0.5vmin;
  left: -0.5vmin;
  right: -0.5vmin;
  pointer-events: none;
}

@media only screen and (max-width: 576px) {
  .sectionConfig .mainContainer {
    flex-direction: column;
  }
  .sectionConfig .buttonC {
    width: 100%;
  }

  .sectionConfig .linkC {
    width: 100%;
  }
}

.sectionConfig * {
  transition: ease 0.1s;
}
.sectionConfig .clickedButton {
  font-size: clamp(2.5rem, 3.5vmax, 100rem) !important;
  margin-left: 5%;
  position: relative;
}
.sectionConfig .clickedButton::before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: -10%;
  right: 102%;
  border: 1px #ececec solid;

  animation-name: animation2;
  animation-duration: 0.4s;
}

@keyframes animation2 {
  0% {
    left: 0%;
  }
  100% {
    left: -10%;
  }
}
